 .back {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items:flex-start;
    color: black;
    height:100%;
    width:100;
    padding: 12px 16px 12px 24px;
    gap: 10px;
    background: white;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
  }

.event{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    width: 761px;
    height: 54px;
    left: 61px;
    top: 276px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
    
}  
.description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 761px;
    height: 189px;
    left: 65px;
    top: 379px;
    background: #E6F0FF;
    border: 1px solid #2B7FFF;
    border-radius: 10px;
}
.pictures{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
.img{
    width: 394px;
    height: 189px;
    left: 65px;
    top: 691px;
    background: #E6F0FF;
    border-radius: 10px; 
    flex-wrap: wrap;  
}
.buttons{
    display:flex;
    flex-direction: row;
    font-family: 'Nunito Sans';
    font-style: normal;
    align-items: flex-start;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #0065FF;
    flex-basis:auto;
    
}

.buttons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

.buttons label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
} 

.buttons input[type="radio"]:checked+label,
.Checked+label  {
    background-color : #0065FF;
    border-color: #0065FF ;
}
.buttons label:hover {
    background-color:#0065FF;
  }

.address{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 755px;
    height: 54px;
    left: 57px;
    top: 1193px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
}

.Day{
    display: flex;
    flex-direction: row; 
}
.date{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 10px; 
    position: absolute;
    width: 256px;
    height: 54px;
    background: #E6F0FF;
    border: 1px solid #0065FF;
    border-radius: 10px;   
}

.time{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 10px;
    position: absolute;
    width: 97px;
    height: 54px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
}

.buttonSubmit{
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
}